<footer class="footer footer-bg">
    <div class=" container f_lll">
        <a href=""><img src="assets/logo.svg" alt="flyo logo" class="logo"></a>
    </div>
    <div class="container footer_flex_container">
        <div class="footer_l">
            <div class="footer_location_flex_container">
                <div>
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <p class="lorem-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
            </div>
        </div>
        <div class="contact_">
            <div class="footer_location_flex_container">
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="tel_div">
                    <a class="contact_info">+1-543-123-4567</a>
                </div>
            </div>
            <div class="footer_location_flex_container f_mail">
                <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div>
                    <a class="contact_info">example@huddle.com </a>
                </div>
            </div>
        </div>
        <div class="footer_links">
            <ul>
                <li><a href="" class="a_footer">About Us</a></li>
                <li><a href="" class="a_footer">Jobs</a></li>
                <li><a href="" class="a_footer">Press</a></li>
                <li><a href="" class="a_footer">Blogs</a></li>
            </ul>
        </div>
        <div class="footer_links">
            <ul class="footer_link_ul">
                <li><a href="" class="a_footer">Contact Us</a></li>
                <li><a href="" class="a_footer">Terms</a></li>
                <li><a href="" class="a_footer">Privacy</a></li>
            </ul>
        </div>
        <div class="social_media_icons">
            <ul class="sm_icons">
                <li><span class="i_c icon-facebook footer_icon"></span></li>
                <li><span class="i_c icon-social-twitter-circular footer_icon"></span></li>
                <li><span class="i_c icon-instagram-with-circle footer_icon"></span></li>
            </ul>
        </div>
    </div>
    <p class="attribution">
        Challenge by <span class="fm">Frontend Mentor.</span> Coded by <span class="gt">Gedtechiie.</span>
    </p>
</footer>
