.hero_heading_section{
    display: grid;
    place-items: center;
    padding-top: 8%;
}

.img_ill{
    max-width: 100%;
    height: auto;
}

.hero_h_text{
    padding-top: 5%;
}

.hero_text, .icon_text, .productive_text, .cta_text{
    font-family: Raleway;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    font-size: clamp(1.5rem, 2.5rem, 3vw);
}

.hero_h_text1, .icon_text1, .productive_text1, .cta_text1{
    font-family: Open-Sans;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
    width: 100%;
    font-size: clamp(1.4rem 2rem 2.5vw);
}

.btn_header {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1.75em;
    font-family: Raleway;
    color: #fff;
    font-size: 0.875rem;
    background: hsl(198, 60%, 50%);
    padding: 0.6em 6em 0.6em 6em;
    text-decoration: none;
  }
  
  .btn_header:hover {
    background: hsl(176, 68%, 64%);
    background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    text-decoration: none;
  }

  .flex_container_icon{
      margin-top: 35%;
  }

  .flex_container_icon1{
      margin-top: 20%;
  }

  .flex_item_icon{
    display: grid;
    place-items: center;
  }

  .flex_item_icon1{
    display: grid;
    place-items: center;
    padding-top: 20%;
  }

//   .icon_text{
//     font-family: Raleway;
//     font-weight: 700;
//     width: 100%;
//     text-align: center;
//     line-height: 1.4;
//     font-size: clamp(1.5rem, 2rem, 3vw);
//   }

//   .icon_text1{
//     font-family: Open-Sans;
//     font-weight: 400;
//     text-align: center;
//     line-height: 1.6;
//     width: 100%;
//     font-size: clamp(1.4rem 2rem 2.5vw);
// }
  
  .icon_img{
      max-width: 40%;
      height: auto;
  }

  .flex_container_productive{
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
      margin-top: 35%;
  }

//     .productive_textt{
//     font-family: Raleway;
//     font-weight: 700;
//     width: 100%;
//     text-align: center;
//     line-height: 1.2;
//     font-size: clamp(1.5rem, 2rem, 3vw);
//   }

  .icon_img2{
      max-width: 100%;
      height: auto;
  }

  .quote_mark{
      padding-top: 40%;
  }

.test_flex_container{
    display: flex;
    margin-top: 15%;
}

.test_flex_item{
    margin-right: -60px;
}

.testimonial{
    background-color: hsl(219, 30%, 18%);
    padding: 2rem 1rem;
    margin: 0 0 0.4em 0.4em;
    // width: 30%;
}

.pt{
    margin-top: 4em;
}

.testimonial_text{
    font-family: Open-Sans;
    font-weight: 400;
    // text-align: center;
    line-height: 1.6;
    width: 100%;
    // font-size: clamp(1.4rem 2rem 2.5vw);
    font-size: 1rem;
}

.testimonial_img{
    border-radius: 100%;
    width: 40%;
    height: auto;
}

.testimonial_h5{
    // font-size: clamp(0.3rem 0.5rem 0.7rem);
    font-size: 1rem;
}

.testimonial_text1{
    font-family: Open-Sans;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
    font-size: 0.8rem;
}

.cta{
    background-color: hsl(219, 30%, 18%);
    padding: 2rem 1rem;
    margin: 0 0 0.4em 0.4em;
    margin-top: 15em;
    // width: 30%;
}

.cta_{
    padding-top: 6%;
}

.mail{
    // margin: .4rem 0;
    border-radius: 1.75em;
    // padding: 0.6em 6em 0.6em 5em;
    padding: 3% 19% 3% 19%;
    cursor: pointer;

}

// .hh{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.btn_cta {
    -webkit-border-radius: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    font-family: Raleway;
    color: #fff;
    font-size: 0.875rem;
    background: hsl(198, 60%, 50%);
    // padding: 0.6em 6em 0.6em 6em;
    padding: 3% 22% 3% 22%;
    text-decoration: none;
  }
  
  .btn_cta:hover {
    background: hsl(176, 68%, 64%);
    background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    text-decoration: none;
  }

  .btn_cta1{
      padding-top: 8%;
  }

  .pos{
    position: relative;
    padding-top: 130%;
}

.cta{
    margin-top: -70%;
    position: absolute;
    left: 0;
    right: 0;
}

  @media screen and (max-width: 48em) and (min-width: 30em){
      .hero_heading_section{
          display: grid;
          place-items: center;
      }

      .hero_img{
          display: grid;
          place-items: center;
      }

      .img_ill{
        max-width: 80%;
        height: auto;
    }
    
    .hero_h_text{
        padding-top: 8%;
    }

    .hero_text{
        font-family: Raleway;
        font-weight: 700;
        max-width: 100%;
        text-align: center;
        line-height: 1.7;
        font-size: 2.5rem;
    }

    .cta_text{
        font-family: Raleway;
        font-weight: 700;
        max-width: 100%;
        text-align: center;
        line-height: 1.7;
        font-size: 1.8rem;
    }
    
    .hero_h_text1{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        max-width: 90%;
        font-size: 1.4rem;
    }

    .cta_text1{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
        line-height: 1.3;
        max-width: 100%;
        font-size: 1.2rem;
    }

    .btn_div{
        margin-top: 5%;
    }
    
    .btn_header {
        -webkit-border-radius: 1.75em;
        -moz-border-radius: 1.75em;
        border-radius: 1.75em;
        font-family: Raleway;
        color: #fff;
        font-size: 0.875rem;
        background: hsl(198, 60%, 50%);
        padding: 0.6em 6em 0.6em 6em;
        text-decoration: none;
      }
      
      .btn_header:hover {
        background: hsl(176, 68%, 64%);
        background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        text-decoration: none;
      }

      .flex_container_icon{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20%;
          gap: 2em;
      }

      .flex_item_icon{
        display: grid;
        place-items: center;
      }
    
      .flex_item_icon1{
        display: grid;
        place-items: center;
        padding-top: 0;
      }
    
      .flex_container_icon1{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 0;
          gap: 2em;
      }

      .icon_text{
          padding-top: 5%;
      }

      .flex_container_productive{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20%;
          gap: 2em;
      }

      .icon_img2{
        max-width: 100%;
        height: auto;
    }

    .productive_text{
        font-family: Raleway;
        font-weight: 700;
        width: 100%;
        text-align: start;
        line-height: 1.2;
        font-size: 1.35rem;
    }

    .p_padding{
        padding-top: 2%;
    }
    
    .productive_text1, .fylo_works{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: start;
        line-height: 1.6;
        width: 100%;
        font-size: clamp(1.4rem 2rem 2.5vw);
        color: #fff;
    }

    .flex_container_testimonial{
        display: flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        gap: 1em;
    }

    .testimonial_text{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: start;
        line-height: 1.6;
        width: 80%;
        // font-size: clamp(1.4rem 2rem 2.5vw);
        font-size: 1rem;
    }
    
    .testimonial_img{
        border-radius: 100%;
        width: 40%;
        height: auto;
    }
    
    .testimonial_h5{
        font-size: 1rem;
    }
    
    .testimonial_text1{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
        line-height: 1.6;
        font-size: 0.4rem;
    }

    .pt{
        margin-top: 0;
    }

    .hh{
        display: flex;
        justify-content: space-around;
    }

    .btn_cta1{
        padding: 0;
    }

    .btn_cta {
        -webkit-border-radius: 1.75em;
        -moz-border-radius: 1.75em;
        border-radius: 1.75em;
        width: 15em;
        font-family: Raleway;
        color: #fff;
        font-size: 0.75rem;
        background: hsl(198, 60%, 50%);
        // padding: 0.6em 6em 0.6em 6em;
        padding: 0% 30% 0% 30%;
        text-decoration: none;
        cursor: pointer;
      }
      
      .btn_cta:hover {
        background: hsl(176, 68%, 64%);
        background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        text-decoration: none;
      }

      .mail{
        // margin: .4rem 0;
        border-radius: 1.75em;
        // padding: 0.6em 6em 0.6em 5em;
        padding: 3% 19% 3% 19%;
        width: 20em;
        cursor: pointer;
    
    }
    .pos{
        position: relative;
        padding-top: 50%;
    }

    .cta{
        margin-top: -25%;
        position: absolute;
        left: 0;
        right: 0;
    }
  }

  @media screen and (max-width: 375px){
    .cta{
        margin-top: -45%;
    }
}

@media screen and (max-width: 425px){
    .cta{
        margin-top: -40%;
    }
}

@media screen and (max-width: 320px){
    .cta{
        margin-top: -70%;
    }
}

@media screen and (min-width: 64em){
    .img_ill{
        max-width: 80%;
        height: auto;
    }

    .hero_img{
        display: grid;
        place-items: center;
    }
    
    .hero_h_text{
        padding-top: 5%;
        display: grid;
        place-items: center;
    }
    
    .hero_text, .icon_text{
        font-family: Raleway;
        font-weight: 700;
        max-width: 80%;
        text-align: center;
        line-height: 1.4;
        font-size: clamp(1.5rem, 2.5rem, 3vw);
    }

    .hero_h_text1{
        display: grid;
        place-items: center;
        padding-top: 2%;
    }
    
    .hero_h_text2{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
        line-height: 1.6;
        max-width: 45%;
        font-size: 1.4rem;
    }

    .btn_div{
        padding-top: 1.2%;
    }
    
    .btn_header {
        -webkit-border-radius: 1.8em;
        -moz-border-radius: 1.8em;
        border-radius: 1.8em;
        font-family: Raleway;
        font-weight: 400;
        color: #fff;
        font-size: 1.1rem;
        background: hsl(198, 60%, 50%);
        padding: 1em 6.8em 1em 6.8em;
        text-decoration: none;
      }
      
      .btn_header:hover {
        background: hsl(176, 68%, 64%);
        background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        text-decoration: none;
      }

      .flex_container_icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12%;
        gap: 2em;
    }


    .flex_item_icon{
        display: grid;
        place-items: center;
      }
    
      .flex_item_icon1{
        display: grid;
        place-items: center;
        padding-top: 0;
      }
    
      .flex_container_icon1{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5%;
          gap: 1.5em;
      }

      .icon_text{
        font-family: Raleway;
        font-weight: 700;
        max-width: 80%;
        text-align: center;
        line-height: 1.4;
        font-size: 1.2rem;
    }

    .icon_text1{
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
        line-height: 1.6;
        max-width: 57%;
        font-size: 1rem;
    }

      .icon_text{
          padding-top: 4%;
      }

      .flex_container_productive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10%;
        gap: 12%;
    }

  .productive_text{
      font-family: Raleway;
      font-weight: 700;
      width: 50%;
      text-align: start;
      line-height: 1.4;
      font-size: 2rem;
  }

  .p_padding{
      padding-top: 2%;
  }
  
  .productive_text1, .fylo_works{
      font-family: Open-Sans;
      font-weight: 400;
      text-align: start;
      line-height: 1.6;
      width: 83%;
      font-size: 1.1rem;
      color: #fff;
  }

  .quote_mark{
    padding-top: 10%;
}

.flex_container_testimonial{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    gap: 2.35em;
}

.testimonial_text{
    font-family: Open-Sans;
    font-weight: 400;
    text-align: start;
    line-height: 1.6;
    width: 80%;
    // font-size: clamp(1.4rem 2rem 2.5vw);
    font-size: 1rem;
}

.test_flex_container{
    margin-top: 1%;
}

.test_flex_item{
    margin-right: -80px;
}

.testimonial_img{
    border-radius: 100%;
    width: 30%;
    height: auto;
}

.testimonial_h5{
    font-size: 0.8rem;
}

.testimonial_text1{
    font-family: Open-Sans;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
    font-size: 0.4rem;
}

.pt{
    margin-top: 0;
}

.hh{
    display: flex;
    justify-content: space-evenly;
}

.btn_cta1{
    padding: 0;
}

.btn_cta {
    -webkit-border-radius: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;
    width: 15em;
    font-family: Raleway;
    color: #fff;
    font-size: 0.75rem;
    background: hsl(198, 60%, 50%);
    // padding: 0.6em 6em 0.6em 6em;
    padding: 0% 30% 0% 30%;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn_cta:hover {
    background: hsl(176, 68%, 64%);
    background-image: -webkit-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -moz-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -ms-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: -o-linear-gradient(top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    background-image: linear-gradient(to bottom, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    text-decoration: none;
  }

  .mail{
    // margin: .4rem 0;
    border-radius: 1.75em;
    // padding: 0.6em 6em 0.6em 5em;
    padding: 3% 19% 3% 19%;
    width: 35em;
    cursor: text;

}
.pos{
    position: relative;
    padding-top: 30%;
}

.cta{
    margin-top: -15%;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 15px;
    width: 70%;
}

.cta_text{
    font-family: Raleway;
    font-weight: 700;
    max-width: 100%;
    text-align: center;
    line-height: 1.4;
    font-size: 1.8rem;
}

.cta_text1{
    font-family: Open-Sans;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
    max-width: 57%;
    font-size: 1rem;
}
}