<div class="main" id="home_page">
<div class="container pt-5">
    <app-navbar></app-navbar>
    <div class="hero_heading_section">
        <div class="hero_img">
            <img src="assets/illustration-intro.png" alt="work illustration image" class="img_ill">
        </div>
        <div class="container_narrow hero_h_text">
            <h2 class="hero_text">All your files in one secure location,
             accessible anywhere.
            </h2>
        </div>
        <div class="hero_h_text1">
            <p class="hero_h_text2">Fylo stores all your most important files in one secure location. Access them wherever you need, 
            share and collaborate with friends family, and co-workers.</p>
        </div>
        <div class="btn_div"><button class="btn_header">Get Started</button></div>
    </div>
    <div class="flex_container_icon">
        <div class="flex_item_icon">
            <img src="assets/icon-access-anywhere.svg" alt="computer icon" class="icon_img">
            <h4 class="icon_text">Access your files anywhere</h4>
            <p class="icon_text1">The ability to use a smartphone, tablet, 
                or computer to access your account means your files follow you everywhere.
            </p>
        </div>
        <div class="flex_item_icon1">
            <img src="assets/icon-security.svg" alt="security icon" class="icon_img">
            <h4 class="icon_text">Security you can trust</h4>
            <p class="icon_text1">2-factor authentication and user-controlled encryption are just a couple of 
                the security features we allow to help secure your files.
            </p>
        </div>
    </div>
    <div class="flex_container_icon1">
        <div class="flex_item_icon">
            <img src="assets/icon-collaboration.svg" alt="computer icon" class="icon_img">
            <h4 class="icon_text">Real-time collaboration</h4>
            <p class="icon_text1">Securely share files and folders with friends, 
                family and colleagues for live collaboration. 
                No email attachments required.
            </p>
        </div>
        <div class="flex_item_icon1">
            <img src="assets/icon-any-file.svg" alt="security icon" class="icon_img">
            <h4 class="icon_text">Store any type of file</h4>
            <p class="icon_text1">Whether you're sharing holidays photos or work documents, 
                Fylo has you covered allowing for all file types to be securely stored and shared.
            </p>
        </div>
    </div>
    <div class="flex_container_productive">
        <div class="flex_item_productive_img">
            <img src="assets/illustration-stay-productive.png" alt="security icon" class="icon_img2">  
        </div>
        <div class="flex_item_productive_text">
            <h2 class="productive_text">Stay productive, wherever you are</h2>
            <p class="productive_text1 p_padding">Never let location be an issue when accessing your files. 
                Fylo has you covered for all of your file storage needs.
            </p>
            <p class="productive_text1">Securely share files and folders with friends, 
                family and colleagues for live collaboration. 
                No email attachments required.
            </p>
            <a href="#" class="fylo_works">See how fylo works</a>
        </div>
    </div>
    <div class="quote_mark">
        <img src="assets/bg-quotes.png" alt="quotation marks" class="quotes">
    </div>
    <div class="flex_container_testimonial">
        <div class="card testimonial">
            <p class="testimonial_text">Fylo has improved our team productivity by an order of magnitude. 
                Since making the switch our team has become a well-oiled collaboration machine. 
            </p>
            <div class="test_flex_container">
                <div class="test_flex_item">
                    <img src="assets/profile-1.jpg" alt="testimonial image" class="testimonial_img">
                </div>
                <div class="test_flex_item">
                    <h5 class="testimonial_h5">Satish Patel</h5>
                    <p class="testimonial_text1">Founder & CEO, Huddle Fylo</p>
                </div> 
            </div>
        </div>
        <div class="card testimonial pt">
            <p class="testimonial_text">Fylo has improved our team productivity by an order of magnitude. 
                Since making the switch our team has become a well-oiled collaboration machine. 
            </p>
            <div class="test_flex_container">
                <div class="test_flex_item">
                    <img src="assets/profile-2.jpg" alt="testimonial image" class="testimonial_img">
                </div>
                <div class="test_flex_item">
                    <h5 class="testimonial_h5">Bruce McKenzie</h5>
                    <p class="testimonial_text1">Founder & CEO, Huddle Fylo</p>
                </div>
            </div>
        </div>
        <div class="card testimonial pt">
            <p class="testimonial_text">Fylo has improved our team productivity by an order of magnitude. 
                Since making the switch our team has become a well-oiled collaboration machine. 
            </p>
            <div class="test_flex_container">
                <div class="test_flex_item">
                    <img src="assets/profile-3.jpg" alt="testimonial image" class="testimonial_img">
                </div>
                <div class="test_flex_item">
                    <h5 class="testimonial_h5">Iva Boyd</h5>
                    <p class="testimonial_text1">Founder & CEO, Huddle Fylo</p>
                </div>
            </div>
        </div>
    </div>
<div class="pos">
    <div class="card cta">
        <h5 class="cta_text">Get early access today</h5>
        <p class="cta_text1">It only takes a minute to sign up and our free starter tier is extremely generous. 
            If you have any questions, our support team would be happy to help you.
        </p>
        <div class="hh cta_">
            <div>
                <input type="email" id="email" class="mail">
            </div>
            <div class="btn_cta1">
                <button class="btn_cta">Get Started For Free</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <app-footer></app-footer> -->
</div>
<app-footer></app-footer>
